*,
::after,
::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Questa-Slab';
  src: url(./fonts/questa_slab_regular_25.otf) format(opentype);
}

@font-face {
  font-family: 'Work-Sans-ExtraLight';
  src: url(./fonts/WorkSans-ExtraLight.otf) format(opentype);
}

@font-face {
  font-family: 'Work-Sans-Light';
  src: url(./fonts/WorkSans-Light.otf) format(opentype);
}

:root {
  --dark-sticky-header: #333333;
}

html {
  font-size: 10px;
}

h1 {
  font-family: 'Questa-Slab';
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
}

h2 {
  font-family: 'Work-Sans-Light';
  font-style: normal;
  font-weight: 900;
  font-size: 1.8rem;
}
h3 {
  font-family: 'Work-Sans-Light';
  font-style: normal;
  font-weight: 200;
  font-size: 1.2rem;
}
h4 {
  font-family: 'Work-Sans-ExtraLight';
  font-style: normal;
  font-weight: 100;
  font-size: 1.5rem;
}

p {
  font-family: 'Work-Sans-Light';
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.7rem;
}

a {
  font-family: 'Work-Sans-Light';
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  color: #333333;
}

.dark-sticky-header {
  height: 4rem;
  background-color: var(--dark-sticky-header);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100vw;
}

.line,
.exp-horizontal-line,
.portfolio-line {
  margin: 1.7rem auto;
  width: 20rem;
  height: 0.1rem;
  background-color: var(--dark-sticky-header);
}

.vertical-line {
  display: none;
}

.arrow {
  display: block;
  margin: 3rem auto;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.skills-grid-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  width: 30rem;
  margin: 0 auto;
  align-items: baseline;
}

.skill-item {
  margin: 2rem auto;
  padding: 0;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .pitch-grid-column,
  .contact-grid-column {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 10vw;
  }
  .portfolio-grid-column {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 8vw;
  }

  .experience-grid-column {
    display: grid;
    grid-template-columns: 4fr 0.5fr 4fr;
    grid-template-rows: 1fr 1fr;
    max-width: 80rem;
    margin: 0 auto;
  }

  .line {
    border-left: 0.1rem solid var(--dark-sticky-header);
    width: 0;
    height: 5rem;
    margin: 0 auto;
  }

  .portfolio-line {
    border-left: 0.1rem solid var(--dark-sticky-header);
    width: 0;
    height: 16rem;
    margin: 0 auto;
  }

  .vertical-line {
    display: block;
    border-left: 0.1rem solid var(--dark-sticky-header);
    width: 0;
    height: 30rem;
    margin: 3.5rem auto;
  }

  .exp-horizontal-line {
    display: none;
  }

  .skills-grid-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 95vw;
    margin: 0 auto;
    align-items: baseline;
  }

  .skill-item {
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 11px;
  }

  .pitch-grid-column {
    margin: 0 auto;
    max-width: 70rem;
  }

  .project-portfolio,
  .contact-component {
    margin: 0 auto;
    max-width: 80rem;
  }
  .portfolio-grid-column {
    margin: 0 2vw;
  }

  .skills-grid-column {
    display: flex;
    width: 80rem;
    margin: 0 auto;
    align-items: baseline;
  }
}

@media screen and (prefers-color-scheme: dark) {
  html {
    background-color: #333333;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  a {
    color: white;
  }

  .line,
  .portfolio-line,
  .vertical-line {
    border-left: 0.1rem solid white;
  }

  .portfolio-line,
  .exp-horizontal-line,
  .line {
    background-color: white;
  }

  .end-arrow-black {
    display: none;
  }
}
